# Virtual environment
.venv/

# Python cache / compiled files
__pycache__/
*.py[cod]

# Environment variables / secrets
.env
.streamlit/secrets.toml

# Data
data/raw/*
data/interim/*
data/processed/*
reports/*
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep
!reports/.gitkeep

# Jupyter
.ipynb_checkpoints/

# IDE / OS files
.vscode/
.DS_Store
Thumbs.db

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# API cache
.cache/